* {
  box-sizing: border-box;
}

body {
  background-color: #e4e4e4 !important;
  height: 100%;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 1px 5px #b1b1b1;
  background-color: #fff;
  z-index: 15;
}

.container {
  width: 100%;
  padding: 0 300px;
  margin: 90px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.containerExtended {
  position: relative;
  width: 100%;
  padding: 0 100px;
  margin: 90px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mainSection {
  width: calc(100% - 310px);
  margin-right: 20px;
  max-width: 700px;
  height: 100%;
}

.mainSectionExtended {
  width: calc(100% - 580px);
  margin-right: 20px;
  margin-left: 20px;
  max-width: 600px;
  height: 100%;
}

.asideGlobalSection {
  position: relative;
  width: auto;
  height: auto;
}

.asideSection {
  /* position: -webkit-sticky; */
  /*position: sticky; */
  position: fixed;
  top: 90px;
  right: 300px;
  width: 290px;
  z-index: 1;
}

.asideSectionMobileExtended {
  top: 310px !important;
  margin-top: 20px;
  display: none;
}

.asideSectionExtended {
  position: sticky;
  top: 90px;
  right: 100px;
  width: 290px;
  z-index: 1;
}

.usersToFollowSectionExtended {
  position: sticky;
  top: 90px;
  left: 100px;
  width: 290px;
  min-height: 200px;
  max-height: 360px;
  height: auto;
  z-index: 1;
}

.backgroundBlack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 19;
  transition: opacity 0.5s;
}

.backgroundBlackAnimation {
  opacity: 0;
}

.loaderPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #e4e4e4; */
  background-color: #fff;
  opacity: 1;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
}

.loaderPageAnimation {
  opacity: 0;
}

.loaderPage span {
  font-size: 40px;
  font-weight: 800;
  color: #3c6a46;
}

.loaderPage img {
  width: 200px;
  height: auto;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 100%;
    padding: 0 200px;
  }

  .asideSection {
    right: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 80px;
    padding: 0 100px;
  }

  .containerExtended {
    margin-top: 80px;
    padding: 0 50px;
  }

  .mainSectionExtended {
    width: calc(100% - 550px);
  }

  .asideSection {
    top: 80px;
    right: 100px;
  }

  .asideSectionMobileExtended {
    top: 280px !important;
    margin-top: 20px;
  }

  .asideSectionExtended {
    top: 80px;
    right: 50px;
    width: 250px;
  }

  .usersToFollowSectionExtended {
    top: 80px;
    left: 50px;
  }

  .header {
    height: 60px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    padding: 0 50px;
  }

  .asideSection {
    width: 290px;
    right: 50px;
  }

  .mainSection {
    width: calc(100% - 310px);
    /* margin-right: 260px; */
  }

  .usersToFollowSectionExtended {
    display: none;
  }

  .mainSectionExtended {
    width: calc(100% - 310px);
    margin-left: 0;
  }

  .asideSectionExtended {
    width: 290px;
  }

  .asideSectionMobileExtended {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .container,
  .containerExtended {
    padding: 0 10px;
  }

  .asideSection,
  .asideSectionExtended {
    right: 10px;
  }

  .mainSection {
    margin: 0 auto 0 0;
    /* margin-left: 10px; */
  }
}

@media screen and (max-width: 700px) {
  .asideSection,
  .asideSectionExtended {
    display: none;
  }

  .mainSection,
  .mainSectionExtended {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .container {
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .mainSection {
    width: calc(100% - 10px);
  }
}

@media screen and (max-height: 630px) {
  .asideSection {
    position: sticky;
    margin-left: auto;
    z-index: 1;
  }
}
