/* logo section */
.headerLogo {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  align-items: center;
}

.headerLogo span {
  font-size: 34px;
  font-weight: 800;
}

.headerLogo img {
  width: 200px;
  height: auto;
}

.headerMenuIcon {
  display: none;
}

.headerMenuIcon svg {
  font-size: 1.8rem;
  cursor: pointer;
}

/* search engine section */
.headerSearchEngine {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerSearchEngine input{
  width: calc(100% - 20px);
  font-size: 16px;
  height: 40px;
}

.headerSearchEngineIcon {
  display: none;
}

.headerSearchEngineIcon svg {
  font-size: 1.4rem;
  align-self: flex-end;
  cursor: pointer;
}

/* icons section */
.headerProfil {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  align-items: center;
}

.headerProfil img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.headerProfilIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.headerProfilIcon svg {
  margin-left: 2px;
  font-size: 1.2rem;
  cursor: pointer;
}

.headerProfilButton {
  background-color: #3c6a46;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .headerLogo img {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .headerProfil {
    width: 150px;
    padding-right: 20px;
  }

  .headerLogo {
    padding-left: 20px;
  }

  .headerSearchEngine,
  .headerLogo {
    width: calc((100% - 150px)/2);
  }
}

@media screen and (max-width: 700px) {
  .headerSearchEngineIcon {
    display: flex;
  }

  .headerSearchEngine input {
    display: none;
  }

  div.headerSearchEngine {
    justify-content: flex-end;
  }

  div.headerProfil {
    width: 150px;
  }

  .headerSearchEngine {
    width: 50px;
    margin-left: auto;
  }

  div.headerLogo {
    justify-content: "flex-start";
    padding-left: 20px;
    width: auto;
  }

  .headerMenuIcon {
    display: flex;
  }

  .headerLogo span {
    justify-content: "flex-start";
    padding-left: 20px;
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .headerProfilButton {
    font-size: 14px;
  }

  .headerProfil {
    padding-right: 10px;
  }

  div.headerLogo {
    padding-left: 10px;
  }
}

@media screen and (max-width: 350px) {
  .headerSearchEngine {
    display: none;
  }
}
