/*.slick-prev:before{
	color: red !important;
}*/

.slick-slide{
	height: 400px;
}

.slick-slide > div{
	height: 100%;
	padding: 0 10px;
	background: white;
}

/* .slick-slide > div > div{
	height: 100% !important;
} */

.slick-dots{
	/*background: black !important;*/
	opacity: .6;
	position: absolute;
	bottom: 0px !important;
	width: 80px !important;
	height: 30px !important;
	left: 50%!important;
	transform: translateX(-50%);
	margin-bottom: 10px !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border-radius: 4px !important;
}

.slick-dots li{
	width: 10 !important;
	height: 10 !important;
	margin: 0 !important;
	padding: 0 !important;
	background: black !important;
	border-radius: 4px !important;
}

.slick-dots li button{
	padding: 0 !important;
	background: white !important;
	/*color: #fff !important;*/
}

.slick-active{
	@apply bg-primary !important;
}

/* Post */
.post-footer svg {
	cursor: pointer;
}

.listPost article {
	margin-bottom: 10px;
}

.postsLoader {
	position: relative;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.postsLoader div {
	border-bottom-color: transparent;
}

.author-info {
	line-height: 3px;
}

div.author-info span:nth-child(3) {
	margin-top: 30px;
}

.author-post-username {
	font-size: 16px;
	margin: 0;
}

.author-info {
	margin-left: 20px;
}

@media screen and (max-width: 576px) {
	.slick-slide{
		height: 300px !important;
	}
}

@media screen and (max-width: 400px) {
	.slick-slide{
		height: 200px !important;
	}
}