.profil-content{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.header-profil{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.profilInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  width: 170px;
  margin-left: 6px;
}

.profilCardImage{
  width:120px;
  height:120px;
}

.profilImage {
  width: 130px;
  height: 130px;
}

.header-profil-image-card {
  position: relative;
  height: auto;
  width: auto;
  border-radius: 100%;
}

.deleteProfil {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  opacity: .9;
  border-radius: 100%;
  border: 2px solid #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteProfil svg {
  color: #2e2828;
  font-size: 2rem;
  cursor: pointer;
}

.header-profil-image-card span {
  position: absolute;
  bottom: -3px;
  right: -5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #3c6a46;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e4e4e4;
  cursor: pointer;
}

.header-profil-image-card span svg {
  color: #fff;
  font-size: 1.5rem;
}

.name{
  font-weight: bold;
  font-size: 22px;
}

.town{
  margin-left: 10px;
  font-size: 14px;
}

.username{
  font-size: 14px;
  color: #575656;
}

.BsJournals{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top:15px;
}

.iconContact{
  color: #2e2828;
  font-size: 14px;
  width: 100px;
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  align-items: flex-start;
}

.profilDescription,.profilFollower{
  font-size: 14px;
  color: #2e2828;
  height: auto;
  width: 60%;
  margin-top: 10px;
}

.informationContent{
  display: flex;
  flex-direction: column;
  height: auto;
}

.profilFollower{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  justify-content: space-between;
}

.iconEditerProfil{
  margin-left:auto;
  color: #2e2828;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}

.secondFollower{
  margin-left: 25px;
}

.profilPost{
  display:flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.profilPost div:nth-child(2) {
  margin-left: 20px;
}

.profilCardPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.active{
  background-color: #3c6a46;
  color: white;
  font-weight: bold;
  width: auto;
  height: auto;
  padding: 5px 7px;
  border-radius: 5px;
  text-align: center;
}

.MdContactMai{
  color: #575656;
  font-size:1.4rem;
  margin-right: 10px;
}
.AiOutlineEdit{
  color: #575656;
  font-size:1.4rem;
  margin-right: 10px;
}

/* post list */
.postsList {
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .profilInfo {
    width: calc(100% - 140px);
  }

  .profilImage {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 425px) {
  .profilPost div{
    font-size: 12px;
  }
}