.profil-content{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 40px;
    width: 100%;
    background-color: white;
}
.header-profil{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     margin-top: 10px;
    
}
.profilInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    width: 170px;
    margin-left: 6px;
  }
  .profilCardImage{
    width:120px;
    height:120px;
  }
  .name{
      font-weight: bold;
      font-size: 22px;
  }
  .town{
      margin-left: 10px;
      font-size: 12px;
  }
  .hour{
      font-size: 20px;
  }
  .BsJournals{
      display: flex;
      flex-direction: row;
  }
  .iconContact{
    margin-left:auto;
    color: #2e2828;
    font-size: 14px;
    width: 100px;
    display: flex;
    margin-top: 45px;
    padding-right: 15px;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .profilDescription,.profilFollower{
        font-size: 14px;
        color: #2e2828;
        height: auto;
        width: 60%;
        margin-top: 10px;
  }
  .informationContent{
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 15px;
  }
  .profilFollower{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 20px;
      font-size: 14px;
      justify-content: space-between;
  }
  .iconEditerProfil{
      display: flex;
      flex-direction: row;
      margin-left: auto;
  }
  .secondFollower{
      margin-left: 25px;
  }
  .profilPost{
      display:flex;
      flex-direction: row;
      margin-top: 15px;
      justify-content: space-between;
      width: 100%;
  }
  .profilCardPost {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    
  }
   .firstChild{
    background-color: #3c6a46;
    color: white;
    font-weight: bold;
    width: auto;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    
  }
