
.followcontent{
    display: flex;
    flex-direction: row;
    width: 100%;
}
/* .followInformation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.flwUserinformation{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;
    width: 100%;
    font-size: 12px;
  }
  .flwUserinformation .flwUsername {
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
  .flwUserinformation .flwUserInscription{
    color: rgb(105, 101, 101);
    font-size: 12px;
    margin-top: 5px;
  }
  .btnSuivreFlw{
      /* background-color: #3c6a46; */
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      text-align: center;
      width: 10px;
      height: 10px;
      margin-top: 10px;
      font-size: 14px;
      margin-left: 100px;
  }
  /* .flwprofilCardImage{
    width: 60px;
    height: 60px;
    flex-basis: auto;
  } */
  .userDescriptionFlw{
      margin-left: 60px;
      margin-top: 12px;
      font-size: 14px;
      width: 300px;
  }
  
  