/* Style for add faculty modal content layout */

.controls {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

button.controlsBtn {
  margin-right: 10px;
}

.emailStatusIcons {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  min-height: 300px;
  max-height: 400px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  div.modalContent {
    max-height: calc(100vh - 150px);
    height: calc(100vh - 150px);
  }
}

@media screen and (max-height: 450px) {
  div.modalContent {
    max-height: calc(100vh - 140px);
    min-height: calc(100vh - 140px);
    height: calc(100vh - 140px);
  }
}
